
body {
	background-color: #FCEFF0;
}

h1 {
	font-size: 40px;
	font-family: Arial, sans-serif;
	color: #FF69B4;
	text-align: center;
	margin-top: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	max-width: 1200px;
	margin-bottom: 340px; /* Agregamos un margen igual al alto del contenedor de contacto */
	position: relative; /* Agregamos position relative para que el margen inferior funcione */
	z-index: 1; /* Agregamos z-index para asegurarnos de que el contenedor de contacto esté por encima */
}

.item {
	width: 300px;
	margin: 20px;
	padding: 10px;
	background-color: #F5E1FF;
	border: 2px solid #D3A3FF;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	text-align: center;
}

.item img {
	max-width: 100%;
	margin-bottom: 10px;
}

.item h2 {
	font-size: 24px;
	font-family: Arial, sans-serif;
	color: #FF69B4;
	margin-bottom: 10px;
}

.item p {
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #8B008B;
	margin-bottom: 10px;
}

  .contact-icons a {
    color: #333;
    font-size: 20px;
    margin-right: 10px;
  }
  
  button {
    background-color: #f48fb1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  button:hover {
    background-color: #ce93d8;
    cursor: pointer;
  }

.contact-container p {
	color: #8B008B;
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
}
  .contact-icons a i {
	font-size: 200%;
  }
  .contact-button {
    background-color: #f48fb1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%; /* El botón ocupa todo el ancho disponible */
    max-width: 300px; /* El ancho máximo del botón es de 300px */
    margin: 0 auto; /* El botón se centra horizontalmente */
}

.contact-container {
    display: none;
    text-align: center;
}

.contact-icons {
    line-height: 0;
}

.contact-button:hover .contact-container {
    display: block;
}

button {
	background-color: #f48fb1;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	position: relative;
	top: 50px;
	margin-bottom: 50px;
}

button:hover {
	background-color: #ce93d8;
	cursor: pointer;
}
.filter-button {
	background-color: #f48fb1;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin-right: 10px;
}

.filter-button:hover {
	background-color: #ce93d8;
	cursor: pointer;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	max-width: 1200px;
}

.item {
	width: 300px;
	margin: 20px;
	padding: 10px;
	background-color: #F5E1FF;
	border: 2px solid #D3A3FF;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	text-align: center;
}
#btn-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #f48fb1;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
	z-index: 999;
}

#btn-to-top:hover {
    background-color: #ff6b9b;
}

