
  body {
	background-color: #FCEFF0;
}

h1 {
	font-size: 40px;
	font-family: Arial, sans-serif;
	color: #FF69B4;
	text-align: center;
	margin-top: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
	max-width: 1200px;
	margin-bottom: 340px; /* Agregamos un margen igual al alto del contenedor de contacto */
	position: relative; /* Agregamos position relative para que el margen inferior funcione */
	z-index: 1; /* Agregamos z-index para asegurarnos de que el contenedor de contacto esté por encima */
}

.item {
	width: 300px;
	margin: 20px;
	padding: 10px;
	background-color: #F5E1FF;
	border: 2px solid #D3A3FF;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	text-align: center;
}

.item img {
	max-width: 100%;
	margin-bottom: 10px;
}

.item h2 {
	font-size: 24px;
	font-family: Arial, sans-serif;
	color: #FF69B4;
	margin-bottom: 10px;
}

.item p {
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #8B008B;
	margin-bottom: 10px;
}

.contact-container {
	position: fixed;
	top: 0;
	right: 20px;
	width: 150px; /* Reducimos el ancho a 200px */
	background-color: #FCEFF0;
	padding: 20px;
	text-align: center;
	z-index: 2;
	height: auto; /* Ajusta la altura del contenedor automáticamente */
}

.contact-container h2 {
	color: #FF69B4;
	font-family: Arial, sans-serif;
	font-size: 28px;
	margin-bottom: 20px;
}

.contact-container p {
	color: #8B008B;
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
}




  
